{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Let Me Roll For You</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Let Me Roll For You</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About app</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white roll">
    <div class="container text-center">
      <h1>Just try me!</h1>
      <p class="lead"><input readonly class="roller" value="{{roll}}"></p>
      <form method="GET" action="{% url 'roll_main'%}">
        <button class='dice dice4' type="submit" value=4 class="btn btn-danger" name="k">K4</button>
        <button class='dice dice6' type="submit" value=6 class="btn btn-danger" name="k">K6</button>
        <button class='dice dice8' type="submit" value=8 class="btn btn-danger" name="k">K8</button>
        <button class='dice dice10' type="submit" value=10 class="btn btn-danger" name="k">K10</button>
        <button class='dice dice12' type="submit" value=12 class="btn btn-danger" name="k">K12</button>
        <button class='dice dice20' type="submit" value=20 class="btn btn-danger" name="k">K20</button>
        <button class='dice dice100' type="submit" value=100 class="btn btn-danger" name="k">K100</button>
      </form>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Yet Anoth... GREAT ROLLING DICE SIMULATOR FROM BEYOND!</h2>
          <p class="lead">
            Cóż można rzec, co bardziej kąśliwi powiedzą: ... Yet Another Dice Rolling Simulator ... No i mają rację!
            Udanej zabawy ;) Postaraj się niczego nie zepsuć, a jak już Ci się uda! Daj nam znać
            za pośrednictwem opcji kontaktu ;)
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>We are:</h2>
          <p class="lead">Jest nas dwóch. Lubimy programować i siedzieć w ciemnej piwnicy... Nie no żarty. Jesteśmy
            studentami SGGW i z chęcią wam pokażemy, że się da!</p>
          <p class="lead">Pewnie nie wierzysz, ale lubimy gry RPG i te cyfrowe i te analogowe(tak chodzi o "papierowe"
            gry fabularne
            - inaczej gry wyobraźni)</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">Github:
          <ul>
            <li><a href="https://www.github.com/latosmichal">Michałek</a></li>
            <li><a href="https://www.github.com/PKacz">Pawełek</a></li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Let me roll for you - 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>